<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
<h2>Forgot your password?</h2>

<form>
  <%= render "admin/shared/error_messages", resource: resource %>

  <div class="field">
    <label>Email</label><br />
    <input type="email" name="email" autofocus="true">
  </div>

  <div class="actions">
    <input type="submit" value="Send me reset password instructions">
  </div>
</form>
<%= render "admin/shared/links" %>
</body>
</html>